@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap');

/*====================================Header==================================*/
#header{
  background: transparent;

  .main_menu{
    background: #ff9a14;
    position: fixed;
    width: 100%;
    z-index: 999999;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      .left{
        li{
          a{
            display: block;
          }
        }
      }
    }
    ul.middle{
      li{
        display: inline-block;
        a{
          text-decoration: none;
          padding: 25px 17px;
          display: block;
        }
      }
      .active{
        position: relative;
      }
      .active:before {
        content: "";
        width: 10px;
        height: 10px;
        background: #30d47e;
        display: block;
        position: absolute;
        /* transform: translate(100%, 166%); */
        border-radius: 50%;
        bottom: 10px;
        left: calc(50% - 5px);
      }
    }
    .middle, .right{
      float: right;
    }
  }

  .navbar{
    .container-fluid{
      .col-md-5{
        .navbar-collapse{
          .navbar-nav{
            .nav-item{
            font-family: 'Open Sans', sans-serif;
            font-family: 'Oswald', sans-serif;
            }
          }
        }
      }
    }
  }
}

/*====================================jumbotron==================================*/

#jumbotron{
   background: #f9faff;
   padding-top: 150px;
   height: 600px;
   .row{
     margin: 0;
     .offset-md-2{
       .createText{
         color: #091d5a;
       }
       .paragraphText{
         padding-top: 25px;
         color: #405161;
       }
       .btn{
         width: 120px;
         border-radius: 0;
       }
       .trialBtn{
         color: #007bff;
         background-color: #fff;

         @media (width: 768px) {
           margin-top: 10px;
         }
       }
     }
     .col-md-4{
       .jumboImage{
         width: 280px;
       }
     }
   }
 }

/*=========================Everything text=======================================*/

#everythingText{
  .row{
    margin: 0;
    .offset-md-3{
      text-align: center;
      .everythingText{
        padding-top: 25px;
        color: #081c57;
      }
      .randomText{
        color: #738494;
      }
    }
  }
}

/*===============================  cards  =======================================*/

#cards{
  background-color: #fbfbfb;
  .row{
    margin: 0;
    .col-md-2{
      padding: 0;
      .card{
        .icon{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 40px;
          color: #438cfd;
        }
      }
    }
  }
}
